<% layout('layouts/boilerplate') %>
    <form action="/rentloc/<%= loc._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="rentloc[title]" value="<%=loc.title%>">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="rentloc[location]" value="<%=loc.location%>">
        </div>
        <button>Save</button>
    </form>
    <form action="/rentloc/<%= loc._id%>">
        <button>Back</button>
    </form>
