<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Location</title>
</head>
<body>
    <h1>All Rental Location</h1>
    <ul>
        <% for(let loc of rentLoc){%>
            <li>
                <a href="/rentloc/<%=loc._id%>">
                    <%=loc.title%>
                </a>
            </li>
        <% } %>
    </ul>    
</body>
</html>