<% layout('layouts/boilerplate') %>
    <h1>All Rental Location</h1>
    <a href="/rentloc/new">Add Rental Location</a>
    <ul>
        <% for(let loc of rentLoc){%>
            <li>
                <a href="/rentloc/<%=loc._id%>">
                    <%=loc.title%>
                </a>
            </li>
        <% } %>
    </ul>
