<% layout('layouts/boilerplate') %>

    <form action="/rentloc" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="rentloc[title]">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="rentloc[location]">
        </div>
        <button>ADD</button>
    </form>
    <form action="/rentloc">
        <button>Back</button>
    </form>