<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Rental Location</h1>
  <div class="col-6 offset-3">
    <form action="/rentloc" method="POST" novalidate class="validated-form">
      <div>
        <label class="form-label" for="title">Title :</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="rentloc[title]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location :</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="rentloc[location]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div>
        <label for="formFile" class="form-label">Image :</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="rentloc[image]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price :</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            id="price"
            class="form-control"
            placeholder="0.00"
            aria-label="price-label"
            name="rentloc[price]"
            required
          />
          <span class="input-group-text" id="price-label">.00</span>
        </div>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description :</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="rentloc[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">ADD</button>
      </div>
    </form>
    <form action="/rentloc">
      <div class="mb-3">
        <button class="btn btn-primary">Back</button>
      </div>
    </form>
  </div>
</div>
