<div class="col-12">
  <div class="container" style="min-height: 80vh">
    <div class="p-4 rounded shadow bg-light">
      <h2 class="text-center mb-4 text-primary fw-bold">Rent-IT</h2>
      <form action="/rentloc/<%= rentPlace.id %>/rent-it/<%=currentUser._id%>" method="POST" class="" >
        <div class="mb-3">
          <label class="form-label fw-semibold" for="username">Username</label>
          <input
            class="form-control"
            type="text"
            id="username"
            name="username"
            placeholder="Choose a username"
            required
            readonly
            value=<%=currentUser.username%>
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold" for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            readonly
            value=<%=currentUser.email%>
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold" for="idProof">ID Proof</label>
          <input
            class="form-control"
            type="number"
            id="idProof"
            name="idProof"
            required
            placeholder="Enter any valid ID number"
          />
        </div>
        <div class="mb-3 d-flex flex-row gap-2">
          <label class="form-label fw-semibold" for="From">From:</label>
          <input
            class="form-control"
            type="date"
            id="from"
            name="From"
            required
          />
          <label class="form-label fw-semibold" for="To">To:</label>
          <input
            class="form-control"
            type="date"
            id="To"
            name="To"
            required
            placeholder="Enter any valid ID number"
          />
        </div>

        <button class="btn btn-primary w-100 fw-semibold">
          Submit
        </button>
      </form>
      </div>
    </div>
    </div>
  </div>
</div>
